.wholeCont{
    width: 100%;
    height: 100vh;
    background-color: rgb(197, 197, 197);
    overflow-y: scroll;
}

.layoutCont{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #EBDFD7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 9;
}

.wholeCont::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

/* Track */
.wholeCont::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #FDC8C8;
    border-radius: 12px;
    height: 90vh;
    margin-top: 10vh;

}

/* Handle */
.wholeCont::-webkit-scrollbar-thumb {
    background: #da3a3a;
    border-radius: 12px;
}

/* Handle on hover */
.wholeCont::-webkit-scrollbar-thumb:hover {
    background: #ffb5b5;
}

@media (max-width: 425px) {
    
}